body {
	margin: 0;
	padding: 0;
	background: #000000;
	overflow: hidden;
}

ul {
	position: absolute;
	width: 100%;
	margin: 20px 0 0;
	padding: 0;
	border-top: 2px solid #777777;
	display: flex;
}

ul li {
	list-style: none;
	position: relative;
	top: -20px;
	width: 24px;
	height: 40px;
	border-radius: 50%;
	background: rgba(25, 25, 25, 0.1);
	margin: 25px;
}

ul li::before {
	content: "";
	position: absolute;
	top: -7px;
	left: 7px;
	width: 10px;
	height: 8px;
	background: #444444;
}

ul li::after {
	content: "";
	position: absolute;
	top: -24px;
	left: 12px;
	width: 74px;
	height: 26px;
	border-bottom: 2px solid #444444;
	border-radius: 50%;
}

ul li:last-child::after {
	border-bottom: none;
}

ul li:nth-child(3n + 1) {
	background: rgba(255, 255, 0, 1);
	animation: animate1 1.5s linear infinite;
}

@keyframes animate1 {
	0% {
		background: rgba(255, 255, 0, 0.2);
	}
	50% {
		background: rgba(255, 255, 0, 1);
		box-shadow: 0 0 25px rgba(255, 255, 0, 1), 0 0 45px rgba(255, 255, 0, 1);
	}
	100% {
		background: rgba(255, 255, 0, 0.2);
	}
}

ul li:nth-child(3n + 2) {
	background: rgba(0, 0, 255, 1);
    animation: animate2 1.5s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
	0% {
		background: rgba(0, 0, 255, 0.2);
	}
	50% {
		background: rgba(0, 0, 255, 1);
		box-shadow: 0 0 25px rgba(0, 0, 255, 1), 0 0 45px rgba(0, 0, 255, 1);
	}
	100% {
		background: rgba(0, 0, 255, 0.2);
	}
}

ul li:nth-child(3n) {
	background: rgba(0, 255, 0, 1);
    animation: animate3 1.5s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
	0% {
		background: rgba(0, 255, 0, 0.2);
	}
	50% {
		background: rgba(0, 255, 0, 1);
		box-shadow: 0 0 25px rgba(0, 255, 0, 1), 0 0 45px rgba(0, 255, 0, 1);
	}
	100% {
		background: rgba(0, 255, 0, 0.2);
	}
}
