:root {
	--line-thickness: 0.25em;
	--glass-size: 59%;
	--icon-height: 7rem;
	--transition-speed: 0.35s;
	--timing-function: cubic-bezier(0.77, 1.55, 0.77, 1.13);
	--icon-color: white;
}

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		90deg,
		#020024 0%,
		#090979 35%,
		#00d4ff 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.search-icon {
	box-sizing: border-box;
	width: var(--icon-height);
	height: var(--icon-height);
	max-width: 20em;
	transition: all var(--transition-speed) linear,
		border-color 0s linear var(--transition-speed);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	border: solid var(--line-thickness);
	border-color: rgba(255, 255, 255, 0);
	border-radius: 100px;
	padding: 0.25em;
}

.search-icon-wrapper {
	width: var(--icon-height);
	height: var(--icon-height);
	position: absolute;
	border-radius: 100px;
	top: 0;
	right: 0;
	margin: auto 0;
	transform: rotate(-45deg);
	transition: all 0 linear;
}

.search-icon-wrapper:hover {
	cursor: pointer;
}

.search-icon-input {
	background: none;
	text-align: center;
	outline: none;
	display: block;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	width: calc(100% - (var(--icon-height) / 1+1rem));
	margin-right: 5rem;
	height: 100%;
	border-radius: 100px;
	transition: all var(--transition-speed) linear;
	font-size: 2em;
	padding: 0 0.5em;
	color: white;
}

.search-icon-input::placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.search-icon-glass {
	width: var(--glass-size);
	height: var(--glass-size);
	border: solid var(--line-thickness);
	border-color: var(--icon-color);
	border-radius: 100px;
	margin: 0 auto;
	position: relative;
	transition: all var(--transition-speed) var(--timing-function)
			var(--transition-speed),
		border-color 0s linear var(--transition-speed);
}

.search-icon-handle {
	height: calc(100% - var(--glass-size));
	width: var(--line-thickness);
	margin: 0 auto;
	background-color: var(--icon-color);
	position: absolute;
	border-radius: 0 0 100px 100px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all var(--transition-speed) var(--timing-function);
	transition-delay: var(--transition-speed);
}

.search-icon-handle::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: var(--icon-color);
	transition: rotate(0deg);
	transition: all var(--transition-speed) var(--timing-function);
	transition-delay: 0s;
}

.search-icon.open {
	width: calc(100vw - 1em);
	border-color: var(--icon-color);
	transition-delay: var(--transition-speed);
}

.search-icon.open .search-icon-input {
	transition-delay: var(--transition-speed);
}

.search-icon.open .search-icon-glass {
	width: 100%;
	height: 100%;
	transition: all var(--transition-speed) var(--timing-function) 0s,
		border-color 0s linear var(--transition-speed);
	border-color: rgba(0, 0, 0, 0);
}

.search-icon.open .search-icon-handle {
	bottom: calc(50% - (100% - var(--glass-size)) / 2);
	border-radius: 100px;
	transition-delay: 0s;
}

.search-icon.open .search-icon-handle::after {
	transition-delay: (var(--transition-speed));
	transform: rotate(90deg);
}
