* {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	box-sizing: border-box;
}

section {
	padding: 100px;
	background-color: #000000;
}

h2 {
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 3.5em;
}

p {
	color: #ffffff;
	font-size: 1.6em;
}

::-webkit-scrollbar {
	width: 0;
}

.progressbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 15px;
	border-radius: 10px;
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
