body {
	margin: 0;
	padding: 0;
	background: #262626;
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #ffffff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 110px;
    font-size: 80px;
    overflow: hidden;
}

.circle .fa {
    color: #ffffff;
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite;
}

.circle:before {
    content: 'SCROLL DOWN';
    position: absolute;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    left: 12px;
    top: -30px;
}

@keyframes animate {
    0% {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 #ffffff;
    }
    20% {
        transform: translateY(0px);
        text-shadow: 0 10px 0 #ffffff;
    }
    40% {
        transform: translateY(0px);
        text-shadow: 0 -10px 0 #ffffff;
    }
    60% {
        transform: translateY(0px);
        text-shadow: 0 0px 0 #ffffff;
    }
    100% {
        transform: translateY(100px);
        text-shadow: 0 -50px 0 #ffffff;
    }
}