@font-face {
	font-family: "Ubuntu";
	src: url("libraries/Fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("libraries/Fonts/Roboto/Roboto-Regular.ttf");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Ubuntu";
}

body {
	width: 100%;
}

button {
	box-shadow: 0 7px 6px rgba(0, 0, 0, 0.16);
}

button:active {
	box-shadow: none;
}

button:focus {
	outline: 0 !important;
}

@media only screen and (max-width: 768px) {
	.first-page .container {
		margin-top: 17%;
	}

	.first-page-bg-image {
		display: flex;
		justify-content: center;
	}

	/* .first-page-bg-image img {
    height: 50%;
  } */

	.radial-bg {
		padding: 0% 5%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.center-align-sm {
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}

	form {
		margin-top: 50px;
	}
}

.fixed-top {
	top: 50px;
}

.first-page {
	background-color: #2d4a9e;
	border: 1px solid #707070;
	height: 100vh;
}

.login-btn {
	cursor: pointer;
	border: 2px solid #1e90ff;
	font-weight: bold;
	padding: 5px 25px !important;
	border-radius: 25px;
	margin-top: 7px;
}

.signup-button {
	background: white;
	cursor: pointer;
	outline: none;
	border: 1px solid whitesmoke;
	border-radius: 40px;
	padding: 5px 50px;
	color: #2d4a9e;
}

.learn-more-link {
	color: white;
	text-decoration: underline;
	text-decoration-color: dodgerblue;
}

.learn-more {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}

.page-heading {
	font-size: 3rem;
	font-weight: 400;
	color: #020856;
	text-align: center;
	margin-top: 30px;
}

.page-caption {
	font-size: 1.5rem;
	color: #707070;
	text-align: center;
}

.carousel-inner {
	background-image: linear-gradient(to left, #ffffff, #2699fb);
}

.fa-chevron-right {
	color: #2699fb;
	font-size: 300%;
	font-weight: lighter;
}

.carousel-inner img {
	height: 200px;
}

.nav-container {
	display: flex;
	justify-content: space-evenly;
}

.nav-link img {
	height: 100px;
	width: 100px;
	border: 2px solid #2699fb;
	border-radius: 50%;
}

.nav-outline .active {
	outline: 5px solid white;
}

.tab-content {
	background-image: linear-gradient(0deg, #f1f1fd, #0088fc);
	font-family: "Roboto";
}

.tab-content h4 {
	font-weight: bold;
	color: #2699fb;
}

.tab-content button {
	color: #2699fb;
	outline: none;
	cursor: pointer;
	border: 2px solid #2699fb;
	border-radius: 17px;
	padding: 5px 25px;
	background: white;
}

.card-body {
	text-align: center;
}

.card-body i {
	color: orange;
}

.card-body h6 {
	color: #2699fb;
}

.media-body {
	width: 350px;
}

.media img {
	border: 1px solid #2699fb;
	border-radius: 50%;
}

.media h4 {
	font-weight: bold;
}

.media h6 {
	color: #2699fb;
	font-weight: bold;
}

.team-members {
	clear: both;
	padding-top: 80px;
}

.radial-bg {
	background: -webkit-radial-gradient(circle at top left, white, #2699fb);
	background: -o-radial-gradient(circle at top left, white, #2699fb);
	background: -ms-radial-gradient(circle at top left, white, #2699fb);
	background: -moz-radial-gradient(circle at top left, white, #2699fb);
	background: radial-gradient(circle at top left, white, #2699fb);
}

form input {
	outline: none;
	color: white;
	background: none;
	border: none;
	border-bottom: 2px solid white;
}

form textarea {
	resize: none;
}

form button {
	color: #2699fb;
	outline: none;
	cursor: pointer;
	border: 2px solid #2699fb;
	border-radius: 17px;
	padding: 5px 35px;
	background: white;
}

li a:hover {
	color: #0863b0 !important;
}

.socialmedia img {
	height: 26px;
	margin: 0px 5px;
}

/* Scroll to Top */
#toTopBtn {
	display: inline-block;
	background-color: #38a1f3;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.3s;
	visibility: hidden;
	z-index: 1000;
	font-size: 30px;
	font-weight: bolder;
	color: white;
}

#toTopBtn:hover {
	cursor: pointer;
}

#toTopBtn:active {
	background-color: #555;
}

#toTopBtn.show {
	opacity: 1;
	visibility: visible;
}

.first-page-bg-image {
	animation: translateAnimation 6s infinite 0s ease-in;
}

@keyframes translateAnimation {
	0% {
		transform: translateY(-10%);
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
		transform: translateY(0);
	}
	70% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		transform: translateY(10%);
		opacity: 0;
	}
}

/* Modal Toogle Fullscreen */
/* .modal-maximize {
	width: 1000px;
	height: 100vh;
	margin: 0;
	padding: 0;
} */

.modal-full {
	min-width: 100%;
	margin: 0;
}

.modal-full .modal-content {
	min-height: 100vh;
}
